<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>
<body class="logo-background">

<nav th:replace="~{fragments/commons::nav}"></nav>

<div class="container rounded mt-5 welcome-page">
    <h1>OOPSS... I suppose that the page you are looking for is also having a break at our hotel.
        You should not skip either !
    </h1>
    <hr class="my-3 bg-white w-50"/>

</div>


<!-- FOOTER SECTION -->

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>