<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>
<body class="logo-background">

<nav th:replace="fragments/commons::nav"></nav>

    <!-- <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-6" >
                <div class="card" style="width: 18rem;">
                    <img src="./images/hotelLogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-rounded">Go somewhere</a>
                    </div>
                </div>
        
                  <div class="card" style="width: 18rem;">
                    <img src="./images/hotelLogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-rounded">Go somewhere</a>
                    </div>
                  </div>
    
            </div>
           
    
          </div>
       
    </div> -->

    <!-- <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">

            <div  class="offer card col-sm-2 col-md-2  col-lg-2 m-1 " style="width: 25rem;">
                <a >
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="./images/hotelLogo.png" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" > Name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center" >PRICE<span></span></div>
                        </li>
                    </ul>
                </a>
            </div>

            <div  class="offer card col-sm-2 col-md-2  col-lg-2 m-1 p-0"  style="width: 25rem;">
                <a >
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="./images/hotelLogo.png" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" > Name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center" >PRICE<span></span></div>
                        </li>
                    </ul>
                </a>
            </div>

            <div  class="offer card col-sm-3 col-md-2  col-lg-2 m-1 p-0"  style="width: 25rem;">
                <a >
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="./images/hotelLogo.png" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" > Name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center" >PRICE<span></span></div>
                        </li>
                    </ul>
                </a>
            </div>

            <div  class="offer card col-sm-6 col-md-2  col-lg-2 m-1 p-0"  style="width: 25rem;">
                <a >
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="./images/hotelLogo.png" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" > Name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center" >PRICE<span></span></div>
                        </li>
                    </ul>
                </a>
            </div>
        </div>
    </div> -->


    <div class="container">
        <div class="row" style="padding-top: 5rem;">
            <div class="col-lg-6 mb-4" style="padding-left: 5rem;">
                <div class="card"  style="width: 30rem;">
                    <img class="card-img-top" src="" alt="">
  
                    <a >
                        <div class="card-img-top-wrapper">
                            <img class="card-img-top" src="./images/hotelLogo.png" alt="image">
                        </div>
                        <div class="card-body pb-1">
                            <h5 class="card-title text-center" > Name</h5>
                        </div>
                        <ul class="offer-details list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="card-text text-center" >PRICE<span></span></div>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 mb-4" style="padding-left: 2rem;">
                <div class="card" style="width: 30rem; ">
                    <img class="card-img-top" src="" alt="">
  
                    <a >
                        <div class="card-img-top-wrapper" >
                            <img class="card-img-top" src="./images/hotelLogo.png" alt="image">
                        </div>
                        <div class="card-body pb-1">
                            <h5 class="card-title text-center" > Name</h5>
                        </div>
                        <ul class="offer-details list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="card-text text-center" >PRICE<span></span></div>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>