<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<nav th:replace="fragments/commons::nav"></nav>
    
      <div class="container rounded mt-5 welcome-page"  >
        <h1>OOPSS... It looks that you have missed to fill a field or two.</h1>
        <h1 class="text-danger"> Please note that the full name 
            and the email are required.</h1>
        <div  class="d-grid gap-2">
            <a href="/rooms/available/search" class="btn btn-primary btn-rounded">TRY TO RESERVE AGAIN</a>
        </div>
        <hr class="my-3 bg-white w-50"/>

    </div>

<nav th:replace="fragments/commons::footer"></nav>
</body>
</html>