<!DOCTYPE html>
<html lang="en">
<head >
    <th:block th:replace="fragments/commons::head"></th:block>
</head>
<body class="logo-background">

<nav th:replace="~{fragments/commons::nav}"></nav>

<div class="container rounded mt-5 welcome-page">
<!--    <h1 th:text="|Welcome, ${principal.getName()}|"></h1>-->
    <h1>Welcome to HotelAntique App</h1>
    <hr class="my-3 bg-white w-50"/>

    <p class="h4"> Here you can easily book the perfect hotel for your upcoming trip to Plovdiv, Bulgaria.
        We believe that every guest, big or small, deserves a memorable and enjoyable stay.
    </p>
    <hr class="my-3 bg-white w-75"/>

    <h3>
        To get started simply
        <a class="text-primary" href="/login">Login</a>
        to your account or
        <a class="text-primary" href="/register">Register</a>
        with us to create a new one.

        Start planning your next adventure with us !
    </h3>
</div>


<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>