<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<nav th:replace="~{fragments/commons::nav}"></nav>

<div class="container-fluid bg-login">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">



            <form class="form-container"
                  th:method="post"
                  th:action="@{/login}"
            >
                <h2 class="text-center">LOGIN</h2>

                <div class="form-group">
                    <div class="label-holder text-white ">
                        <label for="username" class="h3 mb-2">Username</label>
                    </div>
                    <input
                            type="text"
                            class="form-control"
                            th:value="${username}"
                            id="username"
                            name="username"/>
                </div>


                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex">
                        <label for="password" class="h4 mb-2">Password</label>
                    </div>
                    <input type="password" class="form-control" id="password" name="password"/>
                </div>

                <div th:if="${bad_credentials}" class="bg-danger text-light rounded mb-4 mt-2">Incorrect username or password!</div>


                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-primary btn-rounded">LOGIN</button>

                    <div class="form-check">
                        <input name='remember' type='checkbox' />
                        <label class="form-check-label">Remember me</label>
                    </div>

                    <p>Don't have an account? <a href="/register">Register here</a></p>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>