<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HotelAntique</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>


<nav th:replace="~{fragments/commons::nav}"></nav>

    
      <section id="user-profile-page" class="user-profile" th:object="${user}">
        <article class="user-info">
            <img id="user-avatar-url" alt="user-profile" th:src="${'/images/gender/' + user.getGender() + '.jpg'}">
            <div class="user-content">
                <p th:text="|Username: ${user.username}|"></p>
                <p th:text="|Email: ${user.email}|"></p>
            </div>
        </article>
        <h1 class="user-listings-title">User Upcoming Reservations</h1>
        <div class="user-reservation-listings">
            <p th:if="${upcomingReservations.size() == 0}" class="no-reservations">No upcoming reservations.</p>

            <table th:if="${upcomingReservations.size() > 0}" class="table table-striped mb-4"  >
                <thead>
                <tr>
                    <th scope="col">Reservation Number</th>
                    <th scope="col">Username</th>
                    <th scope="col">Check-in - Check-out</th>
                    <th scope="col">Active status</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="r: ${upcomingReservations}" th:object="${r}">
                    <th scope="row" th:text="${r.id}"></th>
                    <td th:text="${r.getGuestUsername()}"></td>
                    <td th:text="${r.checkInAndCheckOut}"></td>
                    <td th:text="${r.isActive()}"></td>
                </tr>

                </tbody>
            </table>

        </div>

        <h1 class="user-listings-title">User Previous Reservations</h1>
        <div class="user-reservation-listings">

            <p  th:if="${previousReservations.size() == 0}" class="no-reservations">No previous reservations.</p>

            <table th:if="${previousReservations.size() > 0}" class="table table-striped mb-4"  >
                <tbody>

                <thead>
                <tr>
                    <th scope="col">Reservation Number</th>
                    <th scope="col">Username</th>
                    <th scope="col">Check-in - Check-out</th>
                    <th scope="col">Active status</th>
                </tr>
                </thead>

                <tr th:each="r: ${previousReservations}" th:object="${r}">
                    <th scope="row" th:text="${r.id}"></th>
                    <td th:text="${r.getGuestUsername()}"></td>
                    <td th:text="${r.checkInAndCheckOut}"></td>
                    <td th:text="${r.isActive()}"></td>
                </tr>

                </tbody>
            </table>

        </div>

    </section>


    <!-- FOOTER SECTION -->


<nav th:replace="~{fragments/commons::footer}"></nav>
</body>
</html>