<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>

<nav th:replace="fragments/commons::nav"></nav>

      <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">

                <form
                        class="form-container  mb-4"
                th:method="post"
                th:action="@{/register}"
                th:object="${registerDTO}">
                    <h2 class="text-center">REGISTER</h2>

<!--                    <div class="form-group mx-sm-3 mb-2">-->
<!--                        -->
<!--                    </div>-->


                    <div class="form-group mx-sm-3 mb-2">
                        <div class="label-holder textCol d-flex">
                            <label for="username" class="h4 mb-2 text-white">Username</label>
                        </div>

                        <input type="text"
                               class="form-control"
                               th:field="*{username}"
                               th:errorclass="is-invalid"
                               id="username"
                               name="username"/>
                        <small class="invalid-feedback bg-danger text-light rounded">Username must between 3 and 20 symbols</small>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <div class="label-holder textCol d-flex">
                            <label for="fullName" class="h4 mb-2 text-white">Full Name</label>
                        </div>

                        <input type="text"
                               class="form-control"
                               th:field="*{fullName}"
                               th:errorclass="is-invalid"
                               id="fullName"
                               name="fullName"/>
                        <small class="invalid-feedback bg-danger text-light rounded">Full name must between 3 and 20 symbols</small>
                    </div>


                    <div class="form-group col-md-6 mb-3">
                        <div class="label-holder text-white textCol d-flex">
                            <label for="email" class="h4 mb-2">Email</label>
                        </div>
                        <input type="email"
                               class="form-control"
                               th:field="*{email}"
                               th:errorclass="is-invalid"
                               id="email"
                               name="email"/>
                        <small class="invalid-feedback bg-danger text-light rounded">Email is required and cannot be empty</small>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <div class="label-holder text-white textCol d-flex">
                            <label for="phoneNumber" class="h4 mb-2">Phone number</label>
                        </div>
                        <input type="text"
                               class="form-control"
                               th:field="*{phoneNumber}"
                               th:errorclass="is-invalid"
                               id="phoneNumber"
                               name="phoneNumber"/>
                        <small class="invalid-feedback bg-danger text-light rounded">Phone number is required and cannot be empty</small>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <div class="label-holder text-white textCol d-flex">
                            <label for="gender" class="h4 mb-2">Gender</label>
                        </div>
                        <select name="gender" id="gender" class="form-select">
                            <option value="" selected>Select gender</option>
                            <option value="FEMALE">Female</option>
                            <option value="MALE">Male</option>

                        </select>
                        <small class="invalid-feedback bg-danger text-light rounded">Gender is required and cannot be empty</small>
                    </div>


                    <div class="form-group col-md-6 mb-3">
                        <div class="label-holder text-white textCol d-flex">
                            <label for="password" class="h4 mb-2">Password</label>
                        </div>
                        <input type="password"
                               class="form-control"
                               th:field="*{password}"
                               th:errorclass="is-invalid"
                               id="password"
                               name="password"/>
                        <small class="invalid-feedback bg-danger text-light rounded">Password must be between 5 and 20 symbols</small>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <div class="label-holder text-white textCol d-flex">
                            <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                        </div>
                        <input type="password"
                               class="form-control"
                               th:field="*{confirmPassword}"
                               th:errorclass="is-invalid"
                               id="confirmPassword"
                               name="confirmPassword"/>
                        <small class="invalid-feedback bg-danger text-light rounded">Confirm password must be between 5 and 20 symbols</small>
                    </div>


                    <div class="mb-1 form-check"></div>

                    <div  class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-rounded">REGISTER</button>
                        <p>Already have an account? <a href="/login">Login here</a></p>
                    </div>
                  </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
      </div>



<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>