<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="logo-background">

<nav th:replace="fragments/commons::nav"></nav>
<!--th:action="@{/reservations/add(from=${roomId},to=${roomId})}"-->

<main class="p-5  text-center my-main" >
<!--    (id=${roomId},from=${checkIn},to=${checkOut})-->
    <div class="d-flex justify-content-center">
        <form th:action="@{/reservations/add}"
              th:method="POST"

              th:object="${reservationDTO}"
              class="text-light bg-secondary form-container">
            <h1 class="text-light border-bottom">Reserve</h1>

            <div class="form-group mx-sm-3 mb-2">


                <div class="col">
                    <label for="fullName">Guest full name</label>
                    <input name="fullName"
                           id="fullName"

                           th:field="*{fullName}"
                           th:errorclass="is-invalid"
                           type="text"
                           class="form-control">
                    <small id="fullNameError" class="invalid-feedback bg-danger text-light rounded">Name must be between 3 and 20
                        characters</small>
                </div>

                <div class="col">
                    <label for="roomNumber">Room Number</label>
                    <select
                            name="roomNumber"
                            th:field="*{roomNumber}"
                            th:errorclass="is-invalid"
                            id="roomNumber"
                            class="form-select">
                        <option th:value="${roomNumberSearch}" selected th:text="${roomNumberSearch}"></option>
                    </select>
                </div>

                <div class="col">
                    <label for="roomType">Room Type</label>
                    <select
                            name="roomType"
                            th:field="*{roomType}"
                            th:errorclass="is-invalid"
                            id="roomType"
                            class="form-select">
                        <option th:value="${roomType}" selected th:text="${roomType}"></option>
                    </select>
                    <small id="roomTypeError" class="invalid-feedback bg-danger text-light rounded">You must select a room type</small>
                </div>

                <div class="col">
                    <label for="checkIn">Check in</label>
                    <select
                            name="checkIn"
                            th:field="*{checkIn}"
                            th:errorclass="is-invalid"
                            id="checkIn"
                            class="form-select">
                        <option th:value="${checkInSearch}" selected th:text="${checkInSearch}"></option>
                    </select>
                    <small id="checkInError" class="invalid-feedback bg-danger text-light rounded">You must select a room type</small>
                </div>

<!--                <div class="col">-->
<!--                    <label for="checkIn">Check in</label>-->
<!--                    <input-->
<!--                            name="checkIn"-->
<!--                            id="checkIn"-->
<!--                            th:field="*{checkIn}"-->
<!--                            th:text="${checkInSearch}"-->
<!--                            th:value="${checkInSearch}"-->
<!--                            th:errorclass="is-invalid"-->
<!--                           -->
<!--                            class="form-control"-->
<!--                            placeholder="Check in">-->
<!--                    <small id="checkInError" class="invalid-feedback bg-danger text-light rounded">Check in date cannot-->
<!--                        be in the past</small>-->
<!--                </div>-->


                <div class="col">
                    <label for="checkOut">Check out</label>
                    <select
                            name="checkOut"
                            th:field="*{checkOut}"
                            th:errorclass="is-invalid"
                            id="checkOut"
                            class="form-select">
                        <option th:value="${checkOutSearch}" selected th:text="${checkOutSearch}"></option>
                    </select>
                    <small id="checkOutSearchError" class="invalid-feedback bg-danger text-light rounded">
                        You must select a room type</small>
                </div>

<!--                <div class="col">-->
<!--                    <label for="checkOut">Check out</label>-->
<!--                    <input name="checkOut"-->
<!--                           id="checkOut"-->
<!--                           th:value="${checkOut}"-->
<!--                           th:field="*{checkOut}"-->
<!--                           th:errorclass="is-invalid"-->
<!--                           type="date"-->
<!--                           class="form-control"-->
<!--                           placeholder="Check out">-->
<!--                    <small id="checkOutError" class="invalid-feedback bg-danger text-light rounded">Check in date cannot be in the-->
<!--                        past</small>-->
<!--                </div>-->


                <div class="col">
                    <label for="email">Email</label>
                    <input name="email"
                           id="email"

                           th:field="*{email}"
                           th:errorclass="is-invalid"
                           type="text"
                           class="form-control"
                           placeholder="example@hotel-antique.bg">
                    <small id="emailError" class="invalid-feedback bg-danger text-light rounded">Email is required</small>
                </div>


            </div>


            <div class="col">
                <label for="specialWishes">Special wishes</label>
                <textarea name="specialWishes"
                          id="specialWishes"
                          th:field="*{specialWishes}"
                          th:errorclass="is-invalid"
                          type="text"
                          class="form-control"
                          placeholder="Special wishes: early check in, etc."></textarea>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button class=" btn-rounded btn-block w-50" type="submit">RESERVE</button>
            </div>
        </form>
    </div>

    </div>
</main>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>