<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HotelAntique</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body class="logo-background">

<nav th:replace="fragments/commons::nav"></nav>

      <div class="container rounded mt-5 welcome-page"  >
        <h1>Your information is safe with us. We have received your reservation details. Wait for a confirmation email</h1>
        <hr class="my-3 bg-white"/>

        <p class="h4"> If you do not receive a confirmation from us until tomorrow - feel free to contact us any time of the day !
            <button type="button" class="rounded-pill btn-rounded">+359 87 9979883</button>
            <div class="contact-box__info">
                <a href="mailto:reservations@hotelantique.bg" class="contact-box__info--title">reservations@hotelantique.bg</a>
            </div>
            <hr class="my-3 bg-white"/>
        </p>
       

       
    </div>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>